.MainContent
	margin 2.3rem 0 0 0
	background-color $gray
	padding 1em 1.5em
	position relative
	top 100vh
	border-radius 7px 7px 0 0
	min-height 80vh
	
	
/*Tablet*/

@media (min-width: 768px)
	.MainContent
		width 768px
		margin 5em auto 0