/*
* COMPONENTE HEADER
*/

.Header
	background-color $naranja_header
	color $white
	height 2.3rem
	// position fixed
	position absolute
	top 0
	left 0
	width 100%
	z-index 10
	// line-height 4em
	transition all .3s ease	
	border-radius 7px 7px 0 0 
	
	&-mobile
		display flex
		justify-content space-between
	
	&-logo
		margin 0 1rem 0 0
		order 2

/*Tablet*/

@media (min-width: 768px)
	.Header
		display flex
		flex-flow row wrap
		justify-content space-between
		height 5em
		transition all .3s ease
		align-items center
		
		&-logo
			margin 0 0 0 1.5rem