article.News-item(id=''+data.id)
	div.News-itemLight
		figure.News-imageContainer
			img.News-image--circle(src=''+data.image, alt=''+data.title)
		h4.News-itemTitle
			|	#{data.title}
	div.News-itemFull
		figure.News-imageContainer
			img.News-image(src=''+data.image, alt=''+data.title)
		div.News-right
			h3.News-itemTitle
				|	#{data.title}
			p.News-description
				|	#{data.content}